
    <% if not user_signed_in? %>
        <div class="jumbotron">
            <div class="container">
                <%= image_tag("logo.png", alt: 'My Series Companion', class: 'col-md-2') %>
                <div class="col-md-7">
                    <h2 class="nomargin">My Series Companion</h2>
                    <p>Mon petit Compagnon est une petite application vous permettant de suivre la progression de vos séries : épisodes et saisons.</p>
                    <p>
                        <%= link_to 'Inscription', new_user_registration_path, class: 'btn btn-primary btn-md' %>
                        <%= link_to 'Connectez-vous', new_user_session_path, class: 'btn btn-success btn-md' %>
                    </p>
                </div>
            </div>
        </div>
    <% end %>

    <h3>Derniers membres inscrits</h3>
    <ul class="row last-members list-group">
    <% for i in 0..5 do %>
        <li class="col-md-2 col-xs-4">
            <img class="img-responsive" alt="" 
                    src="https://placeholdit.imgix.net/~text?txtsize=33&txt=150%C3%97150&w=150&h=150" />
        </li>
    <% end %>
    </ul>
