.lecteur:hover {
	cursor:pointer;
}
.ledcteur{
	img{
		max-height:400px
	}
}
.serie-desc {
	text-transform:uppercase;
	color:#aaa;
}

.episodes-list {
	margin-top: 30px;
}

.episode {
	border-bottom: 1px solid rgba(221, 221, 221, 0.35);
	transition:0.3s;
	min-height: 140px;
	display: table;
	padding: 7px;
}
.episode:hover {
	background-color:#f7f7f7;
}
.episode img {
	margin-top: 10px;
}
.episode-desc{
	padding-left:20px;
}

.episode-desc-text {
	text-align: justify;
	margin-bottom: 10px;
}

.valid-episode{
	margin-top:33px;
}

.valided{
	color: #4CAF50;
}

.tab-pane{
	h3{
		margin-top:10px;
	}
}