.lecteur:hover {
	cursor:pointer;
}

.serie-desc {
	text-transform:uppercase;
	color:#aaa;
}

.episodes-list {
	margin-top: 30px;
}

.episode {
	border-bottom:1px solid #ccc;
	transition:0.3s;
	min-height: 140px;
	display: table;
	padding: 7px;
}
.episode:hover {
	background-color:#ddd;
}
.episode img {
	margin-top: 10px;
}
.rating{
	margin-top:30px;
	color:yellow;
}
.episode-desc{
	padding-left:20px;
}

.episode-desc-text {
	text-align: justify;
	margin-bottom: 10px;
}

.valid-episode{
	margin-top:33px;
}

.valided{
	color: #00ff00;
}