// Place all the styles related to the Shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feature {
    display: block;
    width: 100%;
    margin: 0;
}

.author {
    font-style: italic;
    line-height: 1.3;
    color: #aab6aa;
}
.blog-stripe{
	margin-bottom:50px;
}
.blog-stripe .block-title {
    background: black;
    width: 100%;
    color: white;
    height: 100px;
    padding-top: 20px;
}

.all-blogs .media {
    margin-left: -40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #CCCCCC;
}

.shows-item{
	border-bottom:1px solid #aaa;
	margin-bottom:15px;
	padding-bottom:15px;
}

.side-shows{
	position:relative;
}
.side-shows .rating{
	margin-top:44px;
}
.shows-actions {
	margin-top:-15px;
	position:absolute;
	right:15px;
}

.shows-actions .show, .shows-actions .edit, .shows-actions .delete{
	visibility:hidden;
	transition:0.1s;
	opacity:0;
}

.shows-item:hover .shows-actions{
	transition:0.1s;
	visibility:visible;
	opacity:1;
}

.shows-item:hover .shows-actions .show{
	margin-top:25px;
	transition:0.1s;
	visibility:visible;
	opacity:1;
}

.shows-item:hover .shows-actions .edit{
	margin-top:25px;
	transition:0.1s;
	transition-delay:0.05s;
	visibility:visible;
	opacity:1;
}

.shows-item:hover .shows-actions .delete{
	margin-top:25px;
	transition:0.1s;
	transition-delay:0.1s;
	visibility:visible;
	opacity:1;
}
