// Place all the styles related to the Shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feature {
    display: block;
    width: 100%;
    margin: 0;
}

.author {
    font-style: italic;
    line-height: 1.3;
    color: #aab6aa;
}
.blog-stripe{
	margin-bottom:50px;
	overflow:hidden;
	img {
	    -webkit-transition: all 1s ease; /* Safari and Chrome */
	    -moz-transition: all 1s ease; /* Firefox */
	    -ms-transition: all 1s ease; /* IE 9 */
	    -o-transition: all 1s ease; /* Opera */
	    transition: all 1s ease;
	}
}
.blog-stripe:hover{
	img {
	    -webkit-transform:scale(1.08); /* Safari and Chrome */
	    -moz-transform:scale(1.08); /* Firefox */
	    -ms-transform:scale(1.08); /* IE 9 */
	    -o-transform:scale(1.08); /* Opera */
	     transform:scale(1.08);
	}
}
.blog-stripe .block-title {
    background: black;
    width: 100%;
    color: white;
    height: 100px;
    padding-top: 20px;
}

.all-blogs .media {
    margin-left: -40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #CCCCCC;
}

.shows-item{
	border-bottom: 1px solid rgba(221, 221, 221, 0.35);
	padding-top:15px;
	padding-bottom:15px;

	p {
		margin: 0px;
	}
}
.rating{
	span{
		color:#FFD700;
	}
}
.side-shows{
	position:relative;
}

.shows-item:hover {
	background-color:#ddd;
	transition:0.1s;
	.shows-actions {
		margin-top: 0px;
		transition:0.1s;
		visibility:visible;
		opacity:1;

		a {
			transition: 1s;
		}
	}
}

.head-list-shows {
	#search-show {
		margin-top: 16px;
	}
}
