<div class="row">
		<h1><%= @show.name %></h1>
		<div class="col-md-6">
			<%= render 'form' %>

			<%= link_to 'Voir', @show %> |
			<%= link_to 'Retour', shows_path %>
		</div>
		<div class="col-md-6">
			rating
			status
		</div>
</div>
