<div class="container">
    <div class="row">
        <h1 class="text-center">Liste des series</h1>
        <div class="col-md-6 col-lg-6">
            <div class="blog-stripe">
		        <h2>Série du moment.</h2>
                <a href="#">
                    <img src="http://www.edilivre.com/media/blog/2013/07/game-of-thrones-season-4.jpg" alt="" class="feature">
                </a>
                <div class="block-title">
                    <h2 class="text-center">Game Of Thrones</h2>
                    <p class="author text-centerq"><small>John Cena</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <h2>Vos séries.</h2>
			<% if @series.any? %>
            	<ul class="all-blogs">
			    <% @series.each do |serie| %>
	                <li class="media">
                        <a class="pull-left" href="#">
	                    <img src="http://images.amcnetworks.com/amc.com/wp-content/uploads/2010/12/the-walking-dead-season-6-b-key-art-michonne-gurira-rick-lincoln-alt-800x600.jpg" width="150">
	                    </a>
	                    <div class="media-body">
	                        <h4 class="media-heading"><%= serie.name %></h4>
	                        <p class="author"><%= serie.overview %></p>
	                    </div>
	                </li>
			    <% end %>
            	</ul>
			<% end %>
			<%= will_paginate @series, renderer: BootstrapPagination::Rails, class: "text-center" %>
        </div>
    </div>
</div>

<style>

.feature {
    display: block;
    width: 100%;
    margin: 0;
}

.author {
    font-style: italic;
    line-height: 1.3;
    color: #aab6aa;
}

.blog-stripe .block-title {
    background: black;
    width: 100%;
    color: white;
    height: 100px;
    padding-top: 20px;
}

.all-blogs .media {
    margin-left: -40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #CCCCCC;
}

</style>
